body {
    background: url(https://pbs.twimg.com/media/FJkSH9QUcAAGm-Z?format=jpg&name=4096x4096);
    background-repeat: no-repeat;
    background-size: cover;
}


.startBtn,
.infoPage, .examBox,
.results {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    box-shadow: 0px 4px 8px 0 black,
                0px   6px 20px grey;
    transition: all 0.2s ease ;
    
}

.infoPage.activePage,
.examBox.activeExam{
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);


}



/* Start exam button styling */
.startBtn button {
    font-size: 25px;
    font-weight: 500;
    color: darkgreen;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: white;
    cursor: pointer;
}
.infoPage{
    
    width: 540px;
    background: wheat;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.infoPage .title {
    height: 60px;
    width: 100px;
    border-bottom: 1px solid lightgray ;
    display: flex;
    align-items: center;
    padding:15px 35px ;
    font-size: 20px;
    font-weight: 600;
}

.infoPage .infoPageList{
    padding: 15px 35px;
}

.infoPage .infoPageList .info {
    margin: 5px 0;
    font-size: 17px;

}

.infoPage .infoPageList .info span {
    font-weight: 600;
    color: black;

}

.infoPage .buttons {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
    border-top: 1px solid lightgray;
}

.infoPage .buttons button {
    margin: 0 5px;
    height: 40px;
    width: 100px;
    outline: none;
    border: 1px solid transparent;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
}

.buttons button.restart {
    
    color: black;
    background: darkgreen;
    }

.buttons button.restart:hover {
    background: darkgreen;
}


.buttons button.quit {

color: black;

}

.buttons button.quit:hover{
    color: black;
    background: darkgreen;

}

.examBox{
    
    width: 550px;
    background: darkgreen;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.examBox header {
    position: relative;
    z-index: 99;
    height: 70px;
    padding: 0 30px;
    background: darkgreen;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 3px 5px 1px black;
}

.examBox header .title{
    font-size: 20px;
    font-weight: 600;

}

.examBox header .score{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
    height: 45px;
    background: whitesmoke;
    border: 3px solid black;
    border-radius: 5px;
    padding: 0 8px;
}

.examBox header .score .scoreText{
    font-weight: 400;
    font-size: 17px;
    user-select: none;

}

.examBox header .score .scorePoints{
    font-size: 18px;
    font-weight: 500;
    background: red;
    height: 30px;
    width: 45px;
    color: whitesmoke;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    border: 1px solid black;
    user-select: none;
}

.examBox .section{
    padding: 25px 30px 20px 30px;
    background: whitesmoke;
}

.examBox .section .questionSelection {
    font-size: 25px;
    font-weight: 600;
    
    

}

.examBox .section .answerChoices{
    padding: 20px 0;
    display: block;
}

 section .answerChoices .answer{
    background: white;
    border: 3px solid black;
    border-radius: 6px;
    padding: 8px 15px;
    margin-bottom: 15px;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.2 ease;
}

section .answerChoices .answer:hover{
    color: green;
    background: white;
    border-color: grey;

}

.answerChoices .answer:last-child{
    margin-bottom: 0px;

}

.answerChoices .answer .right_wrong{
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    line-height: 24px;
    pointer-events: none;

}
 .answerChoices .answer .right_wrong{
     color: greenyellow;
     border-color: green;
     background: whitesmoke;
 }


 .answerChoices .answer .right_wrong {
     color: red;
     border-color: brown;
     background: red;
 }

 .examBox footer{

height: 60px;
width: 100%;
display: flex;
padding: 0 30px;
align-items: center;
justify-content: space-between;
}

.examBox footer span{
    display: flex;
    user-select: none;
}

footer span p{
    font-weight: 500;
    padding: 0px 5px;
    

}



footer .nextBtn{
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    border: none;
    outline: none;
    color: white;
    background: black;
    border-radius: 5px;
    border: 1px solid white;
    cursor: pointer;
    transition: all 0.2 ease;
}

footer .nextBtn:hover{
    background: grey;
}

.results{
    background: white;
    width: 450px;
    padding: 25px 30px;
    border-radius: 5px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.results .right_wrong{
    font-size: 100px;
    color: green;
    margin-bottom: 10px;
}

.results .completedExam{
    font-size: 20px;
    font-weight: 500;
}

.results .score span{
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

.score span p{
    font-weight: 600;
    padding: 0 4px;
}
.results .buttons {
    display: flex;
    margin: 20px 0;
}

.results .buttons button{
    margin: 0 10px;
    height: 40px;
    padding: 0 20px;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
    transition: all 0.2s ease;

}







