body {
    /* background: url(https://pbs.twimg.com/media/FJkSH9QUcAAGm-Z?format=jpg&name=4096x4096); */
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    background: url(https://c4.wallpaperflare.com/wallpaper/490/199/637/breaking-bad-for-desktop-background-wallpaper-preview.jpg);
}


.startBtn,
.infoPage, .examBox,
.results {
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transform:translate(-50%, -50%);
    box-shadow: 0px 4px 8px 0 black,
                0px   6px 20px grey;
    
}

.infoPage.activePage,
.examBox.activeExam{
    z-index: 5;
    opacity: 10;
    font-stretch: expanded;
    color: black;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    pointer-events: auto;
    
    transform: translate(-50%, -50%) scale(1);
    

}



.startBtn button {
    font-size: 15px;
    font-weight: 750;
    color: black;
    padding: 15px 30px;
    outline: auto;
    border: 3px solid black;
    border-radius: 4px;
    background: darkolivegreen;
    cursor: pointer;
}
.infoPage{
    
    width: 540px;
    background: darkgreen;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
    border-radius: 50px;
    border: 10px solid grey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.infoPage .title {
    height: 60px;
    width: 100px;
    border-bottom: 1px solid black ;
    display: flex;
    align-items: flex-start;
    padding: 35px 220px ;
    font-size: 25px;
    font-weight: 600;

}

.infoPage .infoPageList{
    padding: 15px 35px;
    border-radius: 15px;
}

.infoPage .infoPageList .info {
    margin: 5px 0;
    font-size: 17px;

}

.infoPage .infoPageList .info span {
    font-weight: 600;
    color: black;

}

.infoPage .buttons {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
    border-top: 1px solid lightgray;
}

.infoPage .buttons button {
    margin: 0 5px;
    height: 40px;
    width: 100px;
    outline: none;
    border: 1px solid transparent;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
}

.buttons button.restart {
    
    color: black;
    background: white;
    }

.buttons button.restart:hover {
    background: darkseagreen;
}


.buttons button.quit {

color: black;

}

.buttons button.quit:hover{
    color: black;
    background: darkgreen;

}

.examBox{
    
    width: 550px;
    padding: 25px 25px 25px 25px;
    background: darkgreen;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
    margin-top: 50px;
}

.examBox header {
    position: relative;
    z-index: 99;
    height: 80px;
    padding: 0 30px;
    background: grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    box-shadow: 10px 1px 10px 1px black;
}

.examBox header .title{
    font-size: 20px;
    font-weight: 600;
    font-style: normal;

}

.examBox header .score{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    height: 40px;
    background: grey;
    border: 3px solid black;
    border-radius: 10px;
    padding: 0 10px;
}

.examBox header .score .scoreText{
    font-weight: 400;
    font-size: 19px;
    user-select: none;

}

.examBox header .score .scorePoints{
    font-size: 18px;
    font-weight: 500;
    background: black;
    height: 25px;
    width: 35px;
    color: red;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    border: 1px solid black;
    user-select: none;
}

.examBox .section{
    padding: 20px 30px 20px 30px;
    background: whitesmoke;
}

.examBox .section .questionSelection {
    font-size: 25px;
    font-weight: 600;
    
    
    

}

.examBox .section .answerChoices{
    padding: 20px 0;
    display: block;
}

 section .answerChoices .answer{
    background: grey;
    border: 3px solid black;
    border-radius: 50px;
    padding: 8px 15px;
    margin-bottom: 15px;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2 ease;
}

section .answerChoices .answer:hover{
    color: green;
    background: white;
    border-color: grey;

}

.answerChoices .answer:last-child{
    margin-bottom: 0px;

}

.answerChoices .answer .buttons{
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    line-height: 24px;
    pointer-events: none;
    

}





 .examBox footer{

height: 60px;
width: 90%;
display: flex;
padding: 0 30px;
align-items: center;
justify-content: space-between;
}

.examBox footer span{
    display: flex;
    user-select: none;
}
footer span p{
    font-weight: 500;
    padding: 0px 5px;
    

}


footer .nextBtn{
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    border: none;
    outline: none;
    color: white;
    background: grey;
    border-radius: 5px;
    border: 1px solid white;
    cursor: pointer;
    transition: all 0.2 ease;
}

footer .restart{
    height: 40px;
    padding: 0 13px;
    font-size: 14px;
    font-weight: 400;
    border: none;
    outline: none;
    color: white;
    background: black;
    border-radius: 5px;
    border: 1px solid white;
    cursor: pointer;
    transition: all 0.2 ease;
}



footer .nextBtn:hover{
    background: grey;
}





 .score span{
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

.score {
    font-weight: 600;
    padding: 0 4px;
}
 .buttons {
    display: flex;
    margin: 20px 0;
}

 .buttons button{
    margin: 0 10px;
    height: 40px;
    padding: 0 20px;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
    transition: all 0.2s ease;

}








@media screen and  (max-width: 1200px){
   
}

@media screen and (max-width: 420px) {
    
}